---
swagger: "2.0"
info:
  description: "Rabe GitOps API definition."
  version: "1.0.0"
  title: "Swagger Rabe GitOps"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "lu.lombardo@reply.it"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.rabegitops.it"
tags:
- name: "message"
  description: "Everything about messages"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /message/{messageId}:
    get:
      tags:
      - "message"
      summary: "Find message by ID"
      description: "Returns a single message"
      operationId: "get_message_by_id"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "messageId"
        in: "path"
        description: "ID of message to return"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Message"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Message not found"
      x-swagger-router-controller: "swagger_server.controllers.message_controller"
definitions:
  Message:
    type: "object"
    required:
    - "text"
    properties:
      text:
        type: "string"
        example: "welcome"
    xml:
      name: "Message"
    example:
      text: "welcome"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
